<!DOCTYPE html>
<html>
<head>
  <title>RubyOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/watson-bootstrap-dark.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="claro">

<%= yield %>

</body>
</html>
